body {

    margin: 0px;
    background-image: url(/img/wallpaper.jpg);
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
  }
.heading {
  /*display: inline-block;
  text-align: right;*/
  font-family: "Amatic SC";
  }
.container {
  outline: 2px solid black;
   background: white;
   height: 100vh;
   display:grid;
    grid-template-areas: "st_1 st_1 st_1"
                           "st_2 st_2 st_2"
                           "st_4 canvas st_3"
                           "st_7 st_6 st_8";
     grid-template-rows: 1.5fr 0.2fr 10fr 1.5fr;
     grid-template-columns: 1fr 3fr 1.2fr;

}
.cell-1 {
margin-top: 2px;
/*margin-left: 1px;*/
   background: #C5A6DB;
   outline: 2px solid black;
   grid-area: st_1;

}

.defineName {
   height: height;
   width:  width;
   display: grid;
   grid-template-areas: "st_1_1 st_1_1 st_1_1 st_1_1 st_1_2";
   grid-template-rows: 1fr;
   grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.cell-1-1 {
/*margin-top: 2px;*/
margin-left: 600px;
   background: #C5A6DB;
   /*outline: 2px solid black;*/
   grid-area: st_1_1;

}
.cell-1-2 {
/*margin-top: 2px;*/
  margin-left: 70px;
   background: #C5A6DB;
   /*outline: 2px solid black;*/
   grid-area: st_1_2;

}


.cell-2 {
   margin-bottom: 2px;
   outline: 2px solid black;
   background: #AA63DF;
   grid-area: st_2;
}
.cell-3 {
   overflow: auto; 
   margin-left: 4px;
   margin-bottom: 6px;
   outline: 2px solid black;
   background: white;
   grid-area: st_3;
}
.users {
   margin-right: 4px;
   margin-bottom: 4px;
   outline: 2px solid black;
   grid-area: st_4;
}
.cell-5 {
   width: 99%;
   height: 99%;
   margin-left: 4px;
   margin-right: 4px;
   margin-bottom: 4px;
   outline: 2px solid black;
   background: white;
   grid-area: canvas;
   cursor: pointer;
}
.cell-6 {
   background: white;
   grid-area: st_6;
}
.cell-7 {
   color: white;
   grid-area: st_7;
}

/*.playerName {
  display: inline-block;
}*/
/*.cell-9 {
  display: inline-block;
margin-top: 2px;
 margin: 2px;
   background: #C5A6DB;
   outline: 2px solid black;
   grid-area: st_9;

}*/
.draw-buttons {
   height: height;
   width:  width;
   display: grid;
   grid-template-areas: "st1_1 st1_2 st1_3 st1_4 st1_4 st1_4 st1_13 st1_14 st1_15 st1_15 st1_15 st1_15 st1_15 st1_15 st1_15 st1_15"
                        "st1_5 st1_6 st1_7 st1_8 st1_9 st1_10 st1_11 st1_12 st1_12 st1_12 st1_12 st1_12 st1_12 st1_12 st1_12 st1_12";
   grid-template-rows: 0.75fr 0.75fr;
   grid-template-columns: 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr 0.1875fr;
}

.cell1-1 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_1;
}
.cell1-2 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_2;
}
.cell1-3 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_3;
}
.cell1-4 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_4;
}
.cell1-5 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_5;
}
.cell1-6 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_6;
}
.cell1-7 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_7;
}
.cell1-8 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_8;
}
.cell1-9 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_9;
}
.cell1-10 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_10;
}
.cell1-11 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_11;
}
.cell1-12 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_12;
}
.cell1-13 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_13;
}
.cell1-14 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_14;
}
.cell1-15 {
   height: 50px;
   width: 50px;
   margin: 10px;
   background: white;
   grid-area: st1_15;
}

#eraser{
    width: 50px;
    height: 50px;
    margin: 2px;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.slider {
  margin-left: 30px;
  margin-top: 20px;
}

.black{
background-color: black;
}
.red{
background-color: red;
}
.green{
background-color: green;
}
.blue{
background-color: blue;
}
.brown{
background-color: brown;
}
.yellow{
background-color: yellow;
}
.clear{
    border-radius: 50%;
    border-color: rgb(201,76,76);
}
.GameLogo{
    margin-left: 30px;
    grid-area: st_7;
}
.zoom:hover{
   transform: scale(1.2);
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 15px;
    padding: 3px;
    margin: 0 0;
    height: 80%;

}

ul>p {
    font-weight: bold;
    margin: 10px 0;
}

#guesses>p {
    margin: 1px 0;
    padding: 2px;
}

ul>li {
    width: 40%;
    display: inline-block;
    left-margin: -15px;
    margin-left: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

 #guesses {
    text-align: center;
    margin-bottom: 5px;
     font-style: italic;
    font-size: 16px;
    height: 80%;
}

#guess, .draw {
    background-color: white;
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 90%; 
    height: 90%;

}

.draw {

    padding-left: 10px 25px;
}

#guess {
    padding: 10px;
}

#guess>.guess-input {
    height: 30px;
    width: 40%;
    padding: 3px 5px;
    font-size: 20px;
}

.draw>p {
    margin: 15px;
}

span.word {
	font-weight: bolder;
	color: #228B22;
}

#top-message {
  margin-right: 5px;
    padding: 5px 0px;
    grid-area: st_8;
}
.grey-out {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #4A4A4A;
    opacity: .8;
    display: none;
    z-index: 900;
}

.user {
    position: relative;
    background-color: white;
    max-height: 300px;
    max-width: 300px;
    text-align: center;
    padding: 25px 5px;
    top: 20%;
    margin: auto;
    border-radius: 6px;
}

#username {
    width: 90%;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}

#submitname {
    width: 70px;
    height: 30px;
    background-color: #9BCD9B;
}